<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.ccsl.checker.popup.commands.category"
            id="org.ccsl.checker.popup.commands.sampleCommand"
            name="Run CCSL Checker">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.ccsl.checker.popup.handlers.SampleHandler"
            commandId="org.ccsl.checker.popup.commands.sampleCommand">
      </handler>
   </extension>
 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.ccsl.checker.popup.commands.sampleCommand"
               id="org.ccsl.checker.popup.menus.sampleCommand"
               mnemonic="S">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IFolder">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.jdt.core.IJavaProject">
                        </instanceof>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="*.ccslt">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="*.ccsl">
                              </test>
                           </or>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.ccsl.checker.popup.commands.sampleCommand"
               id="org.ccsl.checker.popup.menus.sampleCommand"
               mnemonic="S">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.ccslt">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.ccsl">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
